@media screen and (max-width: 1123px) {
  .aboutStore {
    &__container {
      max-width: 824px !important;
      padding: 20px;
      box-sizing: border-box;
      .ProductDescription {
        &__col {
          max-width: 335px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 710px) {
  .aboutStore {
    &__container {
      .ProductDescription {
        flex-direction: column;
        &__col {
          max-width: 100% !important;
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .aboutStore {
    .SectionVantagens {
      height: auto !important;
      padding-bottom: 20px;
    }
  }
  .vantagens__grid {
    max-width: 300px !important;
    flex-direction: column;
    &--content {
      margin-top: 15px;
    }
  }
}
@media screen and (max-width: 7680px) {
  .aboutStore {
    width: 100%;
    border-top: thin solid #e5e7eb;
    background-color: #ffffff;
    &__container {
      max-width: 1110px;
      width: 100%;
      padding-bottom: 70px;
      margin-top: 70px;
      .hero {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 30px;
          font-weight: 700;
          color: #101828;
        }
        p {
          color: #4a5565;
          font-size: 18px;
          font-weight: 400;
          margin-top: 20px;
        }
      }
      .ProductDescription {
        width: 100%;
        padding-bottom: 30px;
        display: flex;
        margin-top: 58px;
        justify-content: space-between;

        &__col {
          //   max-width: 420px;
          max-width: 515px;

          h3 {
            color: $primary_color;
            font-size: 20px;
            font-weight: 700;
          }
          p {
            font-size: 16px;
            color: #4a5565;
            font-weight: 400;
            margin-top: 25px;
          }
        }
      }
      .metricas {
        width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_content {
          width: 200px;
          height: 65px;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          h5 {
            font-size: 24px;
            font-weight: 700;
            color: $primary_color;
          }
          p {
            font-size: 16px;
            font-weight: 400;
            color: #4a5565;
            margin-top: 10px;
          }
        }
      }
    }
    .SectionVantagens {
      height: 260px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      background-color: #f9fafb;
      border-radius: 10px;
      h2 {
        margin-top: 35px;
        color: $bold-blue;
        font-size: 20px;
        font-weight: 700;
      }
      .vantagens__grid {
        max-width: 832px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        &--content {
          max-width: 261px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .numberPosition {
            background-color: $primary_color;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            padding: 11px 16px;
            border-radius: 100%;
            &.first {
              padding: 9px 16px !important;
            }
          }
          h3 {
            font-size: 16px;
            font-weight: 500;
            color: $bold-blue;
            margin-top: 18px;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            color: #4a5565;
            text-align: center;
            margin-top: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .metricas {
    &_content {
      align-items: flex-start !important;
      h5 {
        font-size: 12px !important;
      }
      p {
        font-size: 10px !important;
      }
    }
  }
}
